<!-- templates/header.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Mouse Tracker</title>
    <style>
        #container {
            width: 800px;
            height: 600px;
            border: 2px solid black;
            position: relative;
            margin: 50px auto;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>

<body>
    <a href="/">Home</a> |
    <a href="/setup">Setup</a> |
    <a href="/media">Media</a>
    <hr>